{% extends "userhome.html" %}
{% block content %}

<!-- Reservation Start -->
<div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-6">
            <div class="video">
                <img src="/static/img/com.jpg" alt="Description of the image" style="width:700px;height:500px;">
            </div>
        </div>
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                <center> <h1 class="text-white mb-4">Create New Community</h1></center>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <center>
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                            {{message }}
                        </li>
                    </center>
                    {% endfor %}
                </ul>
                {% endif %}
                <form action="{% url 'createcommunity' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
    
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="communityname" name="communityname" placeholder="Community Name" required>
                                            <label for="name">Community Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="Comminuty Description"
                                            name="communitydescription" id="communitydescription" required>
                                            <label for="name">Comminuty Description</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="Communitytype" placeholder="Community Type"
                                            name="Communitytype" required>
                                            <label for="email">Community Type</label>
                                        </div>
                                    </div>
                                    
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                                    </div>
                                    
                                </div>
                            </form>
            </div>

            
    </div>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                        allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Reservation Start -->

        {% endblock %}