{% extends "index.html" %}

{% block content %}

  <!-- Reservation Start -->
  <div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-6">
            <div class="video">
                <img src="/static/img/reg.jpg" alt="Description of the image" style="
                width: 690px;
            ">
            </div>
        </div>
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                <center><h1 class="text-white mb-4">User Registation</h1></center>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <center>
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                            {{message }}
                        </li>
                    </center>
                    {% endfor %}
                </ul>
                {% endif %}
                <form action="{% url 'userreg' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="username" name="username" placeholder="Your Name" required>
                                <label for="name">Your Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" placeholder="Email"
                                name="useremail" id="useremail" required>
                                <label for="name">Your Email</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="password" placeholder="Password"
                                name="password" required>
                                <label for="email">Enter Password</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="conpassword" placeholder="Password"
                                name="conpassword" required>
                                <label for="email">Conform Password</label>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="tel" class="form-control" pattern="[0-9]{10}" id="contact"  placeholder="Contact" name="contact" required>
                                <label for="email">Enter Contact</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="address" name="address" placeholder="Address" required>
                                <label for="name">Address</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="file" class="form-control" id="photo" name="photo"  placeholder="Photo" required>
                                <label for="name">Photo</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Registration</button>
                        </div>
                        <center><a href="{% url 'user' %}" style="color:green">User Login</a></center>
                    </div>
                </form>
            </div>

            
    </div>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                        allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Reservation Start -->


       
        {% endblock %}
       
       