{% extends "userhome.html" %}



{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Community Name</th>
            <th>Community Description</th>
            <th>Community Type</th>
            <th>Owner</th>
            <th>Users</th>
        </tr>
    </thead>
    <tbody>
        
        {% for i in data %}
        <tr>
            <td>{{i.CommunityId}}</td>
            <td>{{i.communityname}}</td>
            <td>{{i.communitydescription}}</td>
            <td>{{i.Communitytype}}</td>
            <td>{{i.owneremail}}</td>
            <td>{{i.email}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}